* {
    margin: 0;
    padding: 0;
}.principal {
    background-image: url("img/Background.png");
}
.container {
    height: 100vh;
}.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}